	
	<h3>{{title}}  </h3>
	<div>
		<form id="postForm">
	<!-- /*Encabezado*/ -->
		<div class="row">
	      <div class="input-field col s12 ">
	        <input  ng-model="note.header" required class="validate" id="header" name="header" type="text">
	          <label for="header">Encabezado o titulo</label>
	        </input>
	      </div>
	    </div>
	<!-- /*SUB Encabezado*/ -->         
	    <div class="row">
	      <div class="input-field col s12 ">
	        <label for="subheader">Sub titulo <span id="subheader_count"></span></label>
	        <textarea ng-model="note.subheader"  required form="postForm" class="materialize-textarea"  name="subheader" id="subheader"></textarea>
	      </div>
	    </div>
	<!-- /*Texto   Body */ -->
        <div class="row">
	      <div class="input-field col s12 ">
	        <label for="body">Texto <span id="body"></span></label>
	        <textarea ng-model="note.body"   required form="postForm" class="materialize-textarea"  name="body" id="body"></textarea>
	      </div>
	    </div>
 	<!-- /* Url */ --> 
	 	<div class="row">
	      <div class="input-field col s12 ">
	        <input ng-model="note.link" type="text" id="link"  >
	          <label for="link">Url</label>
	        </input>
	      </div>
	    </div>
	<!-- /* Imagen */ --> 
		<div class="row">
		<label for="pic">Imagen (1000x1000)</label>
		     <div class="input-field col s12 ">
				<input  file-model="note.pic" id="pic" type="file" name="pic" accept="image/*">

			 </div>
	    </div>
<!-- /* Submit */ --> 
		<div class="row">
		     <div class="input-field col s12 ">
			<button  class="button right"  type="button" ng-click="submit()" > Publicar </button>

			 </div>
	    </div>
	  		
		<span>{{msg}}</span>
		 
		<span>{{md}}</span>
	</form>

</div>
