
<div class="row">
<div class="col s6" >
    <h3>{{title}}</h3>
</div>

<div class="col s6" ><button class="blue btn waves-effect waves-light" ng-click="listar()" > Actualizar listado.</button>
</div>

</div>
    

<table class="striped" >
  <thead  > 
          <tr> 
              <th>#</th>
              <th>Arriba</th>
               <th> </th>
              <th>Titulo</th> 
              <th>link</th> 
              <th>autor</th>
              <th>fecha de creación</th>
          </tr> 
  </thead>  
   <tr ng-repeat='n in notas'>
              <td>{{ $index + 1}}  </td>

 <td ng-click="changeup()"  ><input ng-model="chk" type="checkbox"  id="{{ n.id }}"  /><label  > {{ n.up }}</label>   </td>

  <td ng-click="view()"  >
 <a href="#/historial/{{ n.id  }}">
 <button id="{{ n.id }}" ng-model="view" class="btn waves-effect waves-light blue" >editar
                </button></a>

  </td>



              
              <td>{{ n.header }}  </td>
 
              <td>{{ n.url }}  </td>
              <td>{{ n.author }}  </td>
             <td>{{ n.created }}  </td>
    </tr> 


</table>

