<div class="row">
<div class="col s6" >
    <h3>{{title}}</h3>
</div>

<div class="col s6" ><button class="blue btn waves-effect waves-light" ng-click="listar()" > Actualizar listado</button>
</div>

</div>

<table class="striped" >
  <thead  > 
          <tr> 
              <th>#</th>
             
              <th>Proyecto</th> 
             
                <th>Motivacion</th> 
               <th>Experiencia</th> 
                 <th>Link trabajos</th> 

             
              <th>fecha de inscripción</th>
          </tr> 
  </thead>  
   <tr ng-repeat='p in postulantes'>
              <td>{{ $index + 1}}  </td>
             <td  > "{{ p.project_name }}" &nbsp , Encargado: {{ p.name }} {{ p.last_name }} &nbsp , Correo: {{ p.email }} </td>
                    
 
               <td> {{ p.motivations }} </td>
                <td> {{ p.experience }} </td>
                  <td> 
                   <a target="_blank" href="{{ p.music_work_url }}">{{ p.music_work_url }}     </a>
                     <a target="_blank" href="{{ p.music_work_url2 }}">{{ p.music_work_url2 }} &nbsp </a>
                    <a target="_blank" href="{{ p.music_work_url3 }}">{{ p.music_work_url3 }}  &nbsp </a>
                  </td>
             
              
             <td>{{ p.created }}  </td>
    </tr> 


</table>