
<div class="card">
<h3> {{title}}</h3>
  <div class="row">
    <div class="input-field col m6 ">
          <label for="file">  </label>
          <input  file-model="file.pic" id="file" type="file" name="file" accept="image/*">  
    </div>

     <div class="input-field col m6 ">
          <input ng-model="file.desc" type="text" id="desc"  >
          <label for="desc">Descripción de la imagen</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s6 ">
           <button  class="btn waves-effect waves-light right green"  type="button" ng-click="upload()" > Subir </button>
    </div>
  </div>
<br>
</div>

<div class="card">
<h3> Recursos</h3>
{{sop}}
      <table class="striped" >
        <thead  > 
                <tr> 
                    <th>#</th>        
                    <th>Url Imagen</th>  
                    <th></th>         
                     <th>Descripción</th> 
                    
                 </tr> 
        </thead>  
         <tr ng-repeat='rec in recursos'>
                    <td>{{ $index + 1}}  </td>
                   <td> 
                   <a target="_blank" href="{{ rec.url }}" data-thumbnail-src="{{ rec.url }}">{{rec.url}}</a>
                    
                  </td>

  
                    <td> {{ rec.descripcion }} </td>
                     
        </tr> 


      </table>
</div>
 		    
 